* {
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
header { 
	padding: 5px; 
	background-color: deepskyblue;	
	margin-bottom: 0px;
}
#logo {
	float: left;
	margin-right: 10px;
}
.name {
	padding-top: 40px;
	font-size: 35px;
	color: white;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px;
	overflow: hidden;
}
nav{
	font-size: 20px;
	background-color: deepskyblue;
	margin-bottom: 10px;
}
nav ul{
	display: flex;
	flex-direction: column;
	padding: 5px;
}
nav ul li a {
	text-decoration: none;
	color: gold;
	transition: 0.5s;
}
.links {
	font-size: 20px;
	background-color: deepskyblue;
	margin-bottom: 10px;
	padding: 5px;
}
table {
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}
td, th {
	padding: 5px;
}
tr:nth-child(even) {
	background-color: gold;
}
tr:nth-child(odd) {
	background-color: blue;
}
form {
	font-size: 14px;
	background-color: deepskyblue;
	padding: 15px;
	margin-bottom: 10px;
}
.wrap{
	display: flex;
	flex-direction: column;
}
form{
	order: -1;
}
footer{
	font-size: 20px;
	text-align: center;
	padding: 30px; 
	background-color: deepskyblue;	
}
@media (min-width: 480px) {
	nav ul {
		flex-direction: row;
		padding: 15px;
		justify-content: space-around;
	}
	nav ul li a {
		font-size: 20px
	}
	form {
		order: 0;
	}
	.name {
		font-size: 40px;
	}
	td, th {
		font-size: 17px;
	}
}
@media (min-width: 768px) {
	.name {
		padding-top: 5px;
	}
	nav ul li a {
		font-size: 30px
	}
	.name {
		font-size: 46px;
	}
	td, th {
		font-size: 20px;
	}
	.links{
		font-size: 22px;
	}
	form {
		font-size: 22px;
	}
}
@media (min-width: 1024px) {
	nav ul li a {
		font-size: 26px
	}
	.links{
		font-size: 24px;
	}
	form {
		font-size: 26px;
	}
	.name{
		font-size: 50px;
	}
	input[type="submit"] {
		font-size: 16px;
		border: 3px solid purple;
		padding: 5px 25px;	
		border-radius: 18px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[type="text"]{
		border: 2px solid gold;
		font-size: 22px;
	}
	input[type="email"]{
		border: 2px solid orange;
		font-size: 22px;
	}
	input[type="date"]{
		border: 2px solid pink;
		font-size: 22px;
	}
	select[name="field1"]{
		border: 2px solid gold;
		font-size: 22px;
	}
	select{
		font-size: 16px;	
	}
	textarea{
		border: 2px solid red;
		font-size: 22px;
	}
	footer{
		text-align: center;
		font-size: 22px;
	}
	td, th {
		font-size: 20px;
	}
}